controller:
  namespace: back-ns
  replicaCount: 3
  serviceAccountName: db-secret-sa

  containerName: app
  image: iti-gp-image:latest
  port: 3000

  env:
    - name: DB_HOST
      value: mysql.db-ns.svc.cluster.local
    - name: DB_USER
      valueFrom:
        secretKeyRef: 
          name: db-secret
          key: username
    - name: DB_PASS
      valueFrom:
        secretKeyRef:
          name: db-secret
          key: password
    - name: DB_NAME
      valueFrom:
        configMapRef:
          name: db-service-name-cm
          key: db-name
  
  resources:
    requests:
      memory: 500Mi
      cpu: 0.5
    limits:
      memory: 1Gi
      cpu: 1
  
  livenessProbe:
    httpGet:
      path: /health
      port: 3000
    initialDelaySeconds: 30
  
  readinessProbe:
    httpGet:
      path: /health
      port: 3000
    initialDelaySeconds: 30
  
  affinity:
    podAntiAffinity: 
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - nodejs-app
            topologyKey: "topology.kubernetes.io/zone"
  volumes:
    - name: nginx-conf
      configMap:
        name: nginx-conf
    - name: index
      configMap:
        name: index
service:
  type: ClusterIP