apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  source:
    repoURL: https://github.com/prometheus-community/helm-charts.git
    path: charts/kube-prometheus-stack
    targetRevision: kube-prometheus-stack-65.0.0  # Use specific chart tag
    helm:
      releaseName: monitoring
      values: |
        grafana:
          service:
            type: LoadBalancer
        prometheus:
          service:
            type: LoadBalancer
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
      - Replace=true
      - ServerSideApply=true